body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  background-color: #61a7c5;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
#root {
  width: 30vw;
  height: 100vh;
  padding: 0;
  margin: 0 auto;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: center;
}
